.sideBar

  .userInfo
    .userInfo__nameBox
      %p.userInfo__name kodai_fujita
      .userInfo__iconBox
        = link_to "#", class:"userInfo__icon" do
          %i.fas.fa-edit
        = link_to "#", class:"userInfo__icon" do
          %i.fas.fa-cog

  .groupList
    .groupList__group
      %p.groupList__groupName Test_Group_1
      %p.groupList__latestComment Hello World!!
    .groupList__group
      %p.groupList__groupName Test_Group_2
      %p.groupList__latestComment まだメッセージがありません
