.groupList {
  background-color: $color-navy_groupList;
  height: calc(100vh - 100px);
  width: 300px;

  &__group {
    height: 91px;
    padding: 20px 20px 40px;
  }

    &__groupName {
      height: 15px;
      color: $color-white;
      line-height: 15px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__latestComment {
      height: 11px;
      color: $color-white;
      line-height: 11px;
      font-size: 11px;
      font-weight: bold;
    }
}