.messageForm {
  background-color: $color-grey_messageForm;
  height: 90px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  &__form { 
    height: 50px;
    width: calc(100vw - 300px - 80px);
    display: flex;
  }

    &__postBox {
      background-color: $color-white;
      width: 100%;
      min-width: 150px;
      display: flex;
      position: relative;
      margin-right: 15px;
    }

      &__text {
        width: 100%;
        border-style: none;
        padding-left: 10px;
      }

      &__imageIcon {
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
      }

        &__file {
          display: none;
        }

    &__submitBtn {
      background-color: $color-lightblue;
      min-width: 100px;
      color: $color-white;
      cursor: pointer;
    }
}